<!-- footer.component.html -->
<div class="footerClass">
    <div class="desktop">
      <nav class="navbar footer-navbar">
        <div class="container">
          <!-- Left-algned content: social media links or other company links -->
          <div class="navbar-text">
            <a class="social-link" href="https://facebook.com" target="_blank" rel="noopener noreferrer">
              <img src="washingtonStateParksTP\src\app\assets\photos\fb.jpeg" alt="Facebook" width="30" height="30">
            </a>
            <a class="social-link" href="https://twitter.com" target="_blank" rel="noopener noreferrer">
              <img src="washingtonStateParksTP\src\app\assets\photos\x.jpeg" alt="X formerly known as Twitter" width="30" height="30">
            </a>
            <a class="social-link" href="https://instagram.com" target="_blank" rel="noopener noreferrer">
              <img src="washingtonStateParksTP\src\app\assets\photos\ig.jpeg" alt="Instagram" width="30" height="30">
            </a>
          </div
  
          <!-- Right-aligned content: quick links or legal notices -->
          <div class="navbar-text footer-right">
            <a class="link-text" href="/privacy-policy"><h5 class="d-inline">Privacy Policy</h5></a>
            <a class="link-text" href="/terms-of-use"><h5 class="d-inline">Terms of Use</h5></a>
            <a class="link-text" href="/contact-us"><h5 class="d-inline">Contact Us</h5></a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  
  <!-- a mobile version however mobile is currently not in use -->
  <div class="mobile">
  
  </div>
