.footer-container{
    margin-top: 40px;
    background-color: rgb(154, 212, 231);
    min-width: 80%;
    min-height: 15rem;
}
.text{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    width: 100%;
}
.h1-center{
    display: block;
    text-align: center;
    width: 100%;
}
.row{
    margin: 0px 50px 0px 50px;
    padding-top: 10px;
    padding-bottom: 30px;
}