<div class="headerClass">
    <!-- desktop, if we need 2 dif version, use *ngIf="currentBreakpoint !== 'xs' for desktop to target -->
    <div class="destkop" >
        <nav class="navbar navbar-bg">
            <a class="navbar-brand" [href]="data.headerData.img.href">
                <img [src]="data.headerData.img.logo" width="30" height="30" alt="image">
            </a>
            <div class="navbar-text">
                <a class="link-text" [href]="data.headerData.links.mountRainier.url"><h5 class="d-inline">{{data.headerData.links.mountRainier.text}}</h5></a>
                <a class="link-text" [href]="data.headerData.links.SaltWater.url"><h5 class="d-inline">{{data.headerData.links.SaltWater.text}}</h5></a>
                <a class="link-text" [href]="data.headerData.links.Olympic.url"><h5 class="d-inline">{{data.headerData.links.Olympic.text}}</h5></a>
            </div>
        </nav>
    </div>

    <!--  mobile, not currently in use -->
    <div class="mobile">

    </div>
</div>
