.olympic-park {
  text-align: center;
  padding: 20px;

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .highlights {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .highlight {
      width: 300px;
      margin: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      img {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.2em;
      }
    }
  }
}
