.salt-water-park {
  text-align: center;
  padding: 20px;

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #3498db; /* Blue color */
  }

  .highlights {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .highlight {
      width: 300px;
      margin: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #fff; /* White background */
      transition: transform 0.3s ease-in-out;

      img {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #e74c3c; /* Red color */
      }

      p {
        font-size: 1.2em;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
