<app-header data="data"></app-header>

<!-- bubble.component.html -->
<div class="main-container">
  <img src="app/assets/photos/MountRainier.jpeg" alt="Main Picture" class="main-picture">
  <div class="bubbles-container">
    <div *ngFor="let show of showContent; let i = index" class="bubble" (click)="toggleContent(i)">
      {{ i + 1 }}
    </div>
  </div>
</div>

<div *ngFor="let show of showContent; let i = index">
  <div class="content-container" [ngClass]="{ 'active': show }">
    <p> {{ bubbleContent[i] }}</p>
  </div>
</div>
